label {
    color: darkblue;
    font-size: medium;
    font-style: italic;
}

input {
    background-color: aquamarine;
    border-color: red;
    box-sizing: content-box;
}

#resultado {

    background-color: black ;
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    